<mat-form-field class="w-4/6">
  <mat-label>รายการที่จะทำ</mat-label>
  <input matInput [formControl]="todolist" />
</mat-form-field>
<button (click)="addTodoList()">เพิ่ม todolist</button>






@if(todoLists){
  @for (todolist of todoLists; track todolist; let  i = $index) {    
  <!-- @for (todolist of todoLists; track todolist; let i = $index) { -->
    <li style="display: flex;flex-direction: row;align-items: center;">
    <mat-checkbox (change)="updateCheckTodo($event.checked, i,todolist.todolistId)"></mat-checkbox>
    <h1>{{todolist.todolist}}</h1>
    </li>
  }
}
